In [1]:
import pandas as pd

df = pd.read_csv("data.csv")

df.head()

,date,week_day,hour,ticket_number,waiter,product_name,quantity,unitary_price,total
0,11/13/2024,Wednesday,16:55,FCB 0003-000024735,0,Alfajor Super DDL x un,1.0,2700,2700
1,11/13/2024,Wednesday,16:55,FCB 0003-000024735,0,Alfajor Sin Azucar Suelto,1.0,2700,2700
2,10/4/2024,Friday,11:31,FCA 0003-000000038,51,Conito choc caja x12un,19.0,15675,297825
3,10/4/2024,Friday,14:00,FCA 0003-000000043,51,Alfajor Sin Azucar x9 Un,1.0,22500,22500
4,10/4/2024,Friday,14:00,FCA 0003-000000043,51,Alfajor 70 cacao caja x9un,1.0,22500,22500

In [2]:
# get most sold products on Friday
df[df["week_day"] == "Friday"].groupby("product_name").sum().sort_values("quantity", ascending=False).head(5)

,date,week_day,hour,ticket_number,waiter,quantity,unitary_price,total
product_name,,,,,,,,
Alfajor Sin Azucar Suelto,10/4/202410/4/202410/4/202410/4/202410/4/20241...,FridayFridayFridayFridayFridayFridayFridayFrid...,13:2713:2813:2813:3113:3113:3213:3413:3513:371...,FCB 0003-000004636FCB 0003-000004639FCB 0003-0...,45045,850.0,1216200,2150400
Alf. 150 aniv. Suelto,10/4/202410/4/202410/4/202410/4/202410/4/20241...,FridayFridayFridayFridayFridayFridayFridayFrid...,12:5313:3113:4213:5114:0214:1014:1514:3313:341...,FCB 0003-000004595FCB 0003-000004647FCB 0003-0...,38165,576.0,1015100,1463800
Alfajor choc blanco nuez x un,10/4/202410/4/202410/4/202410/18/202410/18/202...,FridayFridayFridayFridayFridayFridayFridayFrid...,13:3413:4614:2813:5217:5417:5417:5417:5417:541...,FCB 0003-000004655FCB 0003-000004674FCB 0003-0...,25174,390.0,225100,282900
Alfajor choc x un,10/4/202410/4/202410/4/202410/4/202410/4/20241...,FridayFridayFridayFridayFridayFridayFridayFrid...,12:5513:4413:4513:4614:4415:1416:0216:4617:471...,FCB 0003-000004598FCB 0003-000004668FCB 0003-0...,27933,363.0,374400,466400
Alfajor merengue x un,10/4/202410/18/202410/18/202410/18/202410/18/2...,FridayFridayFridayFridayFridayFridayFridayFrid...,13:4616:0916:4617:5417:5417:5417:5417:5510:421...,FCB 0003-000004674FCB 0003-000012015FCB 0003-0...,21967,318.0,135800,168300